@model List<LiveMatchesViewModel>
@{
    ViewData["Title"] = "LiveScores";
}

<section class="team-matches p-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="table-ms">
                    <div class="match-list">
                        @foreach (var item in Model)
                        {
                            <div class="liga-logo text-light" style="background-color: #233166; padding: 10px "> @item.League.LeagueName </div>
                            @foreach (var match in item.Matches)
                            {
                                <div class="match-t">

                                    @if (match.Date < DateTime.Now)
                                    {<div class="match-status">
                                            FT
                                        </div>
                                    }
                                    else
                                    { <div class="match-status">
                                            @match.Date.ToString("HH:mm")
                                        </div>}

                                    <div class="match-data">
                                        <p class="team-home">@match.HomeName</p>
                                        <div class="goals d-flex ">
                                            <div class="match-result">
                                                <div class="goals-home">@match.HomeTeamScore</div>
                                                <span>-</span>
                                                <div class="goals-away">@match.AwayTeamScore</div>
                                            </div>

                                        </div>
                                        <p class="team-away">@match.AwayName</p>
                                    </div>
                                </div>
                            }

                        }

                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <img src="/assets/img/jawn300x500.jpg" alt="">
            </div>
        </div>
    </div>
</section>


