@model LeagueDto

<div class=" actions-y py-100" style="background-image: url('@Url.Content($"~/assets/img/titleImages/{Model}")');">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <img src="~/assets/img/league/@Model.LeagueIcon" alt="">
                <h2 class="text-light ml-3">@Model.LeagueName</h2>
            </div>
        </div>
    </div>
</div>
<div class="buttons p-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <a asp-action="Index" asp-route-id="@Model.LeagueId" class="team-btn @(ViewContext.RouteData.Values["Action"].ToString()=="Index"?"active":"")">Standings</a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a asp-action="LeagueMatches" asp-route-id="@Model.LeagueId" class="team-btn @(ViewContext.RouteData.Values["Action"].ToString()=="Index"?"active":"")">Matches</a>
            </div>
        </div>
    </div>
</div>